<p-table
[value]="messages"
[paginator]="true"
[rows]="5"
[showCurrentPageReport]="true"
[tableStyle]="{ 'min-width': '50rem' }"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[rowsPerPageOptions]="[5,10, 25, 50]"
>
<ng-template pTemplate="header">
    <tr>
        <th style="width:33%">Name</th>
        <th style="width:33%">Description</th>
        <th style="width:33%">Acciones</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-messages>
    <tr>
        <td>{{ messages.name }}</td>
        <td>
            <p-button (click)="showDialogOInfo(messages.name,messages.description )" icon="pi pi-info" styleClass="p-button-success"></p-button>
        </td>
        <td>
            <p-button (click)="onPlay(messages.idAudioMessage)" icon="pi pi-play" styleClass="p-button-success mx-1"></p-button>
            <p-button (click)="onEdit(messages.idAudioMessage)" icon="pi pi-pencil" styleClass="p-button-success mx-1"></p-button>
            <p-button (click)="onDelete(messages.idAudioMessage)" icon="pi pi-trash" styleClass="p-button-success mx-1"></p-button>
        </td>
    </tr>
</ng-template>
<ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
</ng-template>
<ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
</ng-template>
</p-table>

<!-- dialog info -->
<p-dialog [header]="this.messageName" [(visible)]="visible" [style]="{width: '50vw'}">
    <p>{{this.messageDescription}}</p>
</p-dialog>


<!-- dialog delete -->
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


