
<form autocomplete="off" [formGroup]="formStation" (ngSubmit)="onSend()">

    <div class="formgrid grid">
        <div class="field col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input class="w-full" pInputText  formControlName="name" />
                <label htmlFor="username">name</label>
            </span>
        </div>

        <div class="field col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full" pInputText  formControlName="name" />
                <label htmlFor="username">latitud</label>
            </span>
        </div>

        <div class="field col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input  type="number" class="w-full"  pInputText formControlName="latitud"/>
                <label htmlFor="number-input">Latitud</label>
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full"  pInputText formControlName="longitud">
                <label htmlFor="number-input">Longitud</label>
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full" pInputText formControlName="observacion">
                <label htmlFor="number-input">Observaciones</label>
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full" pInputText formControlName="volumen">
                <label htmlFor="number-input">Volumen</label>
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full" pInputText formControlName="tiempoTelemetria">
                <label htmlFor="number-input">Tiempo Telemetria</label>
            </span>
        </div>


        <div class="fiel col-12 md:col-12 my-3">
            <button type="submit" pButton pRipple label="Submit" class="p-button-success w-full"></button>
        </div>
    </div>
</form>





