
<form autocomplete="off" [formGroup]="formStation" (ngSubmit)="onSend()">

    <div class="formgrid grid">
        <div class="field col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input class="w-full" pInputText  formControlName="name" [ngClass]="{'ng-dirty': isDirty}"/>
                <label htmlFor="username">name</label>
            </span>
            <span *ngIf="isValidField('name')">
                {{ getFieldError('name') }}
            </span>
        </div>

        <div class="field col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input  type="number" class="w-full"  pInputText formControlName="latitude" [ngClass]="{'ng-dirty': isDirty}"/>
                <label htmlFor="number-input">Latitud</label>
            </span>
            <span *ngIf="isValidField('latitude')">
                {{ getFieldError('latitude') }}
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full"  pInputText formControlName="longitude" [ngClass]="{'ng-dirty': isDirty}"/>
                <label htmlFor="number-input">Longitud</label>
            </span>
            <span *ngIf="isValidField('longitude')">
                {{ getFieldError('longitude') }}
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input class="w-full" pInputText formControlName="observations" [ngClass]="{'ng-dirty': isDirty}"/>
                <label htmlFor="number-input">Observaciones</label>
            </span>
            <span *ngIf="isValidField('observations')">
                {{ getFieldError('observations') }}
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full" pInputText formControlName="speakerVolume" [ngClass]="{'ng-dirty': isDirty}"/>
                <label htmlFor="number-input">Volumen</label>
            </span>
            <span *ngIf="isValidField('speakerVolume')">
                {{ getFieldError('speakerVolume') }}
            </span>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <span class="p-float-label">
                <input type="number" class="w-full" pInputText formControlName="telemetryTime" [ngClass]="{'ng-dirty': isDirty}"/>
                <label htmlFor="number-input">Tiempo Telemetria</label>
            </span>
            <span *ngIf="isValidField('telemetryTime')">
                {{ getFieldError('telemetryTime') }}
            </span>
        </div>


        <div class="fiel col-12 md:col-6 my-3">
            <button (click)="onBack()" pButton pRipple label="Regresar" class="p-button-success w-full"></button>
        </div>

        <div class="fiel col-12 md:col-6 my-3">
            <button type="submit"  pButton pRipple label="Enviar" class="p-button-success w-full"></button>
        </div>
    </div>
</form>





